<div class="card pointer" routerLink="/{{onerestaurant.resCity.toLowerCase()}}/restaurants/{{onerestaurant.resId}}">
  <div class="image">
    <img [src]="onerestaurant.resImages[0]" class="card-img-top" alt="{{onerestaurant.resName}}">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{onerestaurant.resName}}</h5>
    <p class="card-text"><mat-icon>location_on</mat-icon> {{onerestaurant.resAddress}}</p>
    <p class="card-text cuisines">
      <span *ngFor="let cuisine of displayedCuisines(onerestaurant.resCuisines)" class="badge me-1">{{cuisine}}</span>
      <span *ngIf="onerestaurant.resCuisines.length > cuisineLimit" class="badge me-1">...</span>
    </p>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <span class="rating">
      <mat-icon>star</mat-icon>{{onerestaurant.resRating}}
    </span>
    <!-- <mat-icon class="heart-icon" [ngClass]="{'favorite': isFavorite}" (click)="toggleFavorite()">favorite</mat-icon> -->
  </div>
</div>
