<!-- Footer -->
<footer class="footer bg-light text-dark py-3">
  <div class="container">
    <div class="row gy-3">
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="/" class="d-inline-block mb-2">
          <img src="../../../assets/images/Image20240621140921.gif" alt="Logo" class="img-fluid" style="max-width: 100px;">
        </a>
        <p class="small mb-0">Your go-to platform for discovering the best food and drinks in the city.</p>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="widget-title">Quick Links</h5>
        <ul class="list-unstyled small pointer">
          <li><a (click)="openLoginDialog()" class="link-secondary text-decoration-none">Login</a></li>
          <li><a (click)="openSignupDialog()" class="link-secondary text-decoration-none">Register</a></li>
          <li><a routerLink="admin/login" class="link-secondary text-decoration-none">Admin</a></li>
          <li><a routerLink="legal" class="link-secondary text-decoration-none">Privacy Policy</a></li>
          <li><a routerLink="legal" class="link-secondary text-decoration-none">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="widget-title">Support</h5>
        <p class="small mb-1"><a class="link-secondary text-decoration-none" href="tel:+15057922430">+91 9799937376</a></p>
        <p class="small mb-0"><a class="link-secondary text-decoration-none" href="mailto:support@yourdomain.com">support&#64;dishdash.com</a></p>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="widget-title">Follow Us</h5>
        <div class="social-media-wrapper">
          <ul class="list-inline mb-0">
            <li class="list-inline-item me-2">
              <a class="link-dark link-opacity-75-hover">
                <mat-icon>facebook</mat-icon>
              </a>
            </li>
          
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-3 pt-3 border-top">
      <div class="col-12 text-center">
        <p class="mb-0 small">&copy; 2024. All Rights Reserved. Built with <span class="text-primary">&#9829;</span> in India</p>
      </div>
    </div>
  </div>
</footer>
