.cart-container {
    padding: 0px 5px 5px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-height: 400px;
   
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .details {
    margin-top: 0px;
  }
  
  .cart-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cart-items {
    margin-top: 20px;
    max-height: 200px;
    width: 100%;
    overflow: scroll;
    padding: 0px 10px;
    overflow-x: hidden;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .item-image img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .checkoutBtn {
    background-color:#F4835F !important ;
    border: none;
  }
  
  .item-details {
    flex: 1;
    margin-left: 10px;
  }
  
  .item-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .item-price {
    
    color: #F4835F;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .quantity-controls button {
    margin: 0 5px;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
  }
  
  .button {
    text-align: right;
    margin-top: 10px;
  }
  
  .cartempty {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #555;
  }
  
  .cartempty .empty-cart-icon {
    font-size: 3rem;
    color: #ddd;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .cart-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .quantity-controls {
      margin-top: 10px;
    }
  }
  