.container {
    max-width: 1200px;
    margin: auto;
  }
  
  .headline h3 {
    font-size: 2rem;
    color: #343a40;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .spinner-container {
    height: 80vh;
  }
  
  .text-info-emphasis {
    color: #007bff;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .pointer {
    cursor: pointer;
  }
  